#profile-card{
    margin: 80px auto;
    width: 400px;
}

#welcome-message{
    margin: 20px;
    text-align:center;
}

#username-textfield{
    width: 100%;
}

#email-textfield{
    width: 100%;
}

#logout-button{
    width: 100%;
}

