#signup-card{
    margin: 80px auto;
    width: 840px;
}

#welcome-message{
    margin: 20px;
    text-align:center;
}

#username-textfield{
    width: 39%;
}

#password-textfield{
    width: 61%;
}

#email-textfield{
    width: 100%;
}

#login-button{
    width: 50%;
}

#signup-button{
    width: 50%;
}

