#media-card{
    margin: 80px auto;
    width: 800px;
}

#media-card-title{
    margin: 20px;
    text-align:center;
}

#media-preview{
    width: 770px;
    text-align:center;
}

#download-button{
    width: 100%;
}

#comment-textfield{
    width: 100%;
}

#comment-button{
    width: 100%;
}