#login-card{
    margin: 80px auto;
    width: 400px;
}

#welcome-message{
    margin: 20px;
    text-align:center;
}

#query-textfield{
    width: 100%;
}

#upload-button{
    width: 50%;
}

#search-button{
    width: 50%;
}