#upload-card{
    margin: 80px auto;
    width: 400px;
}

#file-card{
    margin: 20px auto;
    width: 310px;
    text-align: center;
}

#welcome-message{
    margin: 20px;
}

#title-textfield{
    width: 100%;
}

#description-textfield{
    width: 100%;
}

#file {
    width:1000px;
}

#upload-button{
    width: 100%;
}